apiVersion: apps/v1
kind: Deployment
metadata:
  name: pod-trips-img
  namespace: api
  labels:
    app: trips
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trips
  template:
    metadata:
      labels:
        app: trips
    spec:
      containers:
      - name: trips-container
        image: registrybwj5358.azurecr.io/trips:1.0
        env:
        - name: SQL_USER
          value: "sqladminbWj5358"
        - name: SQL_PASSWORD
          value: "bN1uq3Fc9"
        - name: SQL_SERVER
          value: "sqlserverbwj5358.database.windows.net"
        - name: SQL_DBNAME
          value: "mydrivingDB"
---
apiVersion: v1
kind: Service
metadata:
  name: trips-service
  namespace: api
spec:
  selector:
    app: trips
  ports:
    - protocol: TCP
      port: 80